/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
/*
body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
  }
  */

  /* Applies to all elements with <... class="someclass"> specified. */
  /* NavBar Styles */
  .someclass { color: red; }

  .body {
    width: 100%;
    margin: 0;
    border: '2px solid green';
  }

  .Button {
    padding: 20px;
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }

  .navBarFont {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 20px;
  }
  .bottomborder {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 0.2vh;
  }
  .noPad {padding: 0px 0px 0px 0px;}
  .noMar {margin: 0px 0px 0px 0px;}

  .navSize{ height: 4.8vh;}
  
  /* Landing Page styles */
  .backGround {
    background-color: lightblue;
    height: 93.2vh;
  }

  /* top, right, bottom, left */
  .textHiLocation {
    padding: 10vh 10vh 0vh 20vh;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 250px;
  }
  
  .textAndrewLocation {
    padding: 6vh 10vh 0vh 20vh;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 100px;
  }

  .textTitleLocation {
    padding: 0vh 10vh 0vh 20vh;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 50px;
  }






  

