/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

body {
  background-color: lightblue;
}


  /* Applies to all elements with <... class="someclass"> specified. */
  /* NavBar Styles */
  .someclass { color: red; }

  .body {
    width: 100%;
    margin: 0;
    border: '2px solid green';
  }

  .Button {
    padding: 20px;
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
  }

  .navBarFont {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 20px;
  }
  .bottomborder {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 0.2%;
  }
  .fullWidth {width: 100%};
  .noPad {padding: 0px 0px 0px 0px;}
  .noMar {margin: 0px 0px 0px 0px;}

  .navSize{ height: 4.8vh;}

  .linkedSize{ 
    height: 40px; 
    width: auto;
    padding: 0.1vh 10px 0px 0px;
    float: right;
  }
  

  /* Landing Page styles */
  .backGroundExp {
    background-color: lightcoral;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .backGroundSizeExp {
    height: 93.1vh;
  }

  /* top, right, bottom, left */
  .textHiLocation {
    padding: 5% 0% 0% 10%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 25vh;
    background-color: lightblue;
  }
  
  .textAndrewLocation {
    padding: 4% 10% 0% 10%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 10vh;
    background-color: lightblue;
  }

  .textTitleLocation {
    padding: 0% 10% 0% 10%;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 5vh;
    background-color: lightblue;
  }






  

