/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
/* Expericnes styles */
.backGroundGal {
  background-color: #c4faf8;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.backGroundSizeGal {
  height: 93.1vh;
  background-color: #c4faf8;
}

.backColorGal {
  background-color: #c4faf8;
}

.textFont {
  font-family: "Courier New", Courier, monospace;
}

.blankSpaceGallery {
  height: 5vh;
  background-color: #c4faf8;
}

.imgBoxGallery {
  height: auto;
  width: 20vw;
  border: 2px solid black;
  margin: 0px 1vh 0px 0px;
  border-right-style: solid;
  border-right-color: black;
  border-right-width: 4px;
}